@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  font-size: 0.95em;
  color: #3acec2;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #093a58 !important;
}

#mobile-main {
  display: none;
}

#desktop-main a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  font-size: 0.95em;
  color: #3acec2;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #2060cc;
  justify-content: space-around;
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
  top: 0;
  width: 100%;
  z-index: 10;
}

header img {
  max-width: 200px;
  height: auto;
  padding: 12px;
  filter: brightness(0.5);
}

.section-default {
  height: 100vh;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-bg--section {
  color: #fff;
  background: #3acec2;
}

.primary-bg--section h2 {
  font-size: 2em;
  color: #fff;
}

.primary-bg--section article {
  font-size: 1.2em;
  color: #fff;
}

.primary-bg--section button {
  margin-left: 20px;
}
.secondary-bg--section button {
  margin-left: 20px;
}

.secondary-bg--section {
  background-color: #fff;
  color: #fff;
}

.secondary-bg--section h2 {
  color: #093a58;
  font-size: 2em;
}

.secondary-bg--section article {
  color: #093a58;
  font-size: 1.2em;
}

.link-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.floating-button {
  cursor: pointer;
  position: fixed;
  padding: 10px 10px;
  right: 20px;
  bottom: 20px;
  background-color: #093a58;
  border-radius: 4px;
  transition: 0.3s ease-in;
  -webkit-box-shadow: 0px -1px 22px -2px rgb(0 0 0 / 78%);
  box-shadow: 0px -1px 22px -2px rgb(0 0 0 / 78%);
}

.floating-button a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in;
  padding: 10px 20px;
}

.floating-button:hover > a {
  color: #093a58;
}

.floating-button:hover {
  background-color: #fff;
  transform: translateY(-3px);
}

.footer-links {
  display: grid;
  text-align: left;
}

footer {
  padding: 40px;
  background: #fff;
  color: #fff;
  text-align: center;
}

footer p {
  color: #093a58;
}

#desktop-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  #desktop-main {
    display: none;
  }

  #mobile-main {
    display: grid;
  }

  #menuToggle {
    display: block;
    position: relative;
    right: 10px;
    z-index: 1;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 45px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    background-color: #ff6300;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    background-color: #ff6300;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #mobileMainContent {
    position: absolute;
    width: 400px;
    height: 110vh;
    margin: -100px 0 0 -50px;
    background-color: #2060cc;
    padding: 25px;
    padding-top: 100px;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: 0.5s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

/* Styled-btn */
.styled-btn {
  cursor: pointer;
  padding: 0.8em 1.8em;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #fff;
}

.styled-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.styled-btn:hover::before {
  width: 105%;
}

.styled-btn:hover {
  color: #111;
}

.secondary-styled-btn {
  border-color: #17c3b2;
  color: #111;
}

.secondary-styled-btn:hover {
  color: #fff;
}
